<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>TYPE_OF_BILL</th>
      <th>NAME</th>
      <th>INVOICE/BILL_NO</th>
      <th>EMAIL</th>
      <th>DATE</th>
      <th>DESCRIPTION</th>
      <th>AMOUNT</th>
      <th>RATE</th>
      <th>QUANTITY</th>
      <th>MOBILE_NO</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td></td>
      <td>Kiran Enterprises,Kiran Enterprises</td>
      <td>SHB/456/20</td>
      <td></td>
      <td>21-Dec-20,20-Dec-20</td>
      <td></td>
      <td>3,500.00,4,130.00,3,500.00,315.00,315.00</td>
      <td>315.00,315.00,9%,9%</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>