<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>NAME</th>
      <th>INVOICE/BILL_NO</th>
      <th>EMAIL</th>
      <th>DATE</th>
      <th>DESCRIPTION</th>
      <th>AMOUNT</th>
      <th>RATE</th>
      <th>QUANTITY</th>
      <th>MOBILE_NO</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td></td>
      <td></td>
      <td></td>
      <td>1-May-23,Apr 2023</td>
      <td>9%|</td>
      <td>9%/</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>