<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>TYPE_OF_BILL</th>
      <th>DATE</th>
      <th>MOBILE_NO</th>
      <th>ADDRESS</th>
      <th>DESCRIPTION</th>
      <th>STATE</th>
      <th>INVOICE/BILL_NO</th>
      <th>EMAIL</th>
      <th>TIME</th>
      <th>AMOUNT</th>
      <th>RATE</th>
      <th>QUANTITY</th>
      <th>NAME</th>
      <th>COUNTRY</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td></td>
      <td>February 21,2018,March 03, 2018,January 24,2018</td>
      <td></td>
      <td>Hope Street no. 26, Building B,Mumbai, Maharashtra (MH - 27</td>
      <td>solvent,detergent</td>
      <td></td>
      <td>X33,234,B256</td>
      <td></td>
      <td></td>
      <td>15,120.00,20014.40,7080.00,27094.40,25,700.00,27,425</td>
      <td>5%,5%,7,080.00,18.00%,10%,12.00%,@12.00%,@12%</td>
      <td></td>
      <td>Maron Smith</td>
      <td></td>
    </tr>
  </tbody>
</table>